

.hidden {
  display: none!important;
}

input, #output {
  font-family: monospace;
  font-family: 'consolas';
}

input[type="number"] {
  text-align: right;
}

div.error {
  color: red;
}

#time {
  font-family: 'consolas', 'Lucida Console', 'Courier New', monospace;
  color: red;
}
